

main {
  min-height: 85vh;
}

h3 {
  padding: 1rem 0;
}

h1 {
    size: 1.8em;
    padding: 1rem 0;
  }

  h2 {
    size: 1.4rem;
    padding: 0.5rem 0;
  }
.day {
    background-color:white;
    color: rgb(31, 29, 29)
}
.rating span {
  margin: 0.1rem;
}

.icon {
  margin-right: 5px;
  color: rgb(13, 43, 54);
}
.navText {
  color: rgb(13, 43, 54);
  display: inline;
  font-size:inherit;
 
}
.nav-steps {
    font-size: 80%;
}
.progress {
    height: 0.6rem;
    background-color: rgb(150, 204, 25)  ;
}
.icon-progress {
    color: green;
}

.icon-paypal {
    color: #00457C;
    font-size: 1.7rem;
}
.icon-credit {
    color: #010813;
    
    font-size: 1.7rem;

}

/* carousel */
.carousel-box {
    height: "400px";
    width: "600px";
    background: "transparent";
  };

.item-added-cart {
    color: rgb(247, 247, 171)
}

.list-item {
    background-color:inherit;
    border:  0 ;

}

.remove-item {
    color:rgb(214, 13, 13);
}
.product-available {
    color: rgb(108, 235, 108);
}

.product-not-available {
    color: rgb(236, 93, 93);
}


#custom-switch {
    color: rgb(167, 230, 20);
    display: inline;
    font-size:inherit;
   
  }


.card-img-top {
  width: 100%;
  height: 20vw;
  object-fit:cover;
}

.card-product {
  background-color: rgb(108, 115, 117);
  color:rgb(13, 43, 54);
}



.spinner {
    
    position:absolute;
    display:block;
    height:100px;
    width:100px;
    left:50%;
    top:50%;
    margin-top:-50px;
    margin-left:-50px;
    color:chocolate
    
}

@media screen and (max-width: 767px) {
  /* start of medium tablet styles */
  /* Adding a fixed/percentage min-width could ensure that the image doesn't get too small */
  .card-img-top {
    
    min-height: 40vw;
   
  }
}

@media screen and (max-width: 500px) {
  /* start of phone styles */
  /* It's possible to hide the image if the screen becomes too small */
  .card-img-top {
  
    
  min-height: 60vw;
    
 
  }
}

@media screen and (max-width: 300px) {
  /* start of phone styles */
  /* It's possible to hide the image if the screen becomes too small */
  .card-img-top {
  
    
  min-height: 80vw;
    
 
  }
}

